:root {
    --bg-color: #121212;
    --primary-color: #1f1f1f;
    --secondary-color: #282828;
    --accent-color: #4caf50;
    --text-color: #e0e0e0;
    --link-hover-color: #76ff03;
    --border-color: #333333;
}
